<html>


<body style="width:90%;margin-left: auto;margin-right: auto;">
<div style="text-align:center;">
    <a href="http://www.skiltil.com" style="font-size:300%;color: blue;"> <img src="http://www.skiltil.com/static/images/logo.png" height="40"
                                                 width="40"/> Skiltil </a>
</div>
<br>
We have recieved your request for learning {{ customer_request.skill }}. We'll get back to you
on {{ customer_request.contact_phone }} at your preferred time.
<br>
<div style="margin-top: 20px;">
    <p>Continue exploring and learning our wide range of topics at <a href="http://www.skiltil.com">www.skiltil.com</a>.
    </p>
</div>

<br>
Feel free to reach out to us.
<br>
Skiltil Team.
<br>
<a style="display: none;" href="{unsubscribe}"></a>
</body>
</html>