.header-basic-light{
	//padding: 20px 20px;
	box-sizing:border-box;
	box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.15);
	height: 60px;
	background-color: #fff;
	padding: 10px;
}

.header-basic-light .header-limiter {
	max-width: 1200px;
	text-align: center;
	margin: 0 auto;	
}

/* Logo */

.header-basic-light .header-limiter h2{
	float: left;
	font: normal 28px Cookie, Arial, Helvetica, sans-serif;
	line-height: 40px;
	margin: 0;
	cursor: pointer;
}

.header-basic-light .header-limiter name {
	font: 40px Cookie, Helvetica, sans-serif;
        line-height: 45px;
	float: left;
	padding-left: 10px;
	cursor: pointer;
}

.header-basic-light .header-limiter h2 span {
	font-size: 15px;
	cursor: pointer;
	margin-left:20px;
	color: #5383d3;
}

.header-basic-light .header-limiter h2 span a {
        font-size: 15px;
        cursor: pointer;
        margin-left:20px;
        color: #5383d3;
}

/* The header links */

.header-basic-light .header-limiter a {
	color: #5c616a;
	text-decoration: none;
}

.header-basic-light .header-limiter nav{
	font:25px Arial, Helvetica, sans-serif;
	line-height: 40px;
	float: right;
	align: middle;
}

.header-basic-light .header-limiter nav a{
	display: inline-block;
	padding: 0 5px;
	opacity: 0.9;
	text-decoration:none;
	color: #5c616a;
	line-height:1;
}

.header-basic-light .header-limiter nav a.selected {
	background-color: #86a3d5;
	color: #ffffff;
	border-radius: 3px;
	padding:6px 10px;
}

/* Making the header responsive. */

@media all and (max-width: 700px) {

	.header-basic-light {
		padding: 10px 0;
		height: 120px;
	}

	.header-basic-light .header-limiter h2 {
		display: inline;
		float: none;
		margin: -8px 0 10px;
		text-align: center;
		font-size: 24px;
		line-height: 1;
	}

	.header-basic-light .header-limiter name {
		display: none;
	}

	.header-basic-light .header-limiter nav {
		margin-top: 20px;
		line-height: 1;
		float:none;
	}

	.header-basic-light .header-limiter nav a {
		font-size: 13px;
	}

}

/* For the headers to look good, be sure to reset the margin and padding of the body */

body {
	margin:0;
	padding:0;
}
