.lin {
    display: inline-block;
    padding-top: 5px;
    margin-top: 10px;
    // width: 20 %;
    background: #D9F5F5;
    min-width: 20px;
    border-radius: 10%;
    max-height: 225px;
    min-height: 225px;
}

.lin a {
    outline: none;
    cursor: pointer;
    text-decoration:none;
}

.lin a, img {
    display: block;
    margin: 0 auto;
}

.lin td {
    color: #000000;
    font-size: 18px;
    text-decoration:none
}

.lin img {
    background-position: center;
    background-repeat: no-repeat;
    height: 150px;
    width: 100%;
    // border: none;
    // border: 2 px solid blue;
    border-radius: 10%;
    // background-size: contain;
}

/*.lin imgexc {
    background-position: right;
    background-repeat: no-repeat;
    height: 150px;
    width: 150px;
    // border: none;
    // border: 2 px solid blue;
    //border-radius: 20%;
    // background-size: contain;
}*/

.lin h4 {
    //display: inline-block;
    //font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
    //font-style: italic;
    font-weight: 400;
    font-size: 16px;
    padding: 0px 10px 0;
    text-align: center;
    color: #000000;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

.lin input {
    padding: 0px 10px 0;
    text-align: center;
    //color: #6a1b9a;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

.lin:hover {
    opacity: 0.7;
}
