{% extends "proj/base.html" %}
	{% block title %} {{ skill.skill_name }} {% endblock %}
	{% block stylesheet %}
		{% load static %}
	{% endblock %}

	{% block body %}
	
		<div width=100% style="text-align:center">	
			<img src="{{ skill.image_src }}"  height="100" width="130" >
			<h4>{{ skill.skill_name }}</h4>
		</div>

		<div style="margin-left:10px; margin-right:10px">
			{{ skill.details|linebreaksbr }}
		</div>
		<div style="margin-left:10px; margin-right:10px">
		<h4>To proceed contact us. Please fill your information. We'll get back to you. 
			<br>
			Or whatsapp/call us at 
			<a href="tel:+919844850018"> +91-9844850018.</a>
		</h4>
		<form role="form" action="" method="post">
			{% csrf_token %}
			{{ form.as_p }}
			<div style="text-align:center">
				<button type="submit" style="width: 100px; height: 30px">Submit</button>
			</div>
		</form>
		</div>

	{% endblock %}
