{% extends "proj/base.html" %}
{% block title %} Skiltil - Home {% endblock %}
{% block stylesheet %}
    <meta name="description" content="Wide variety of topics to choose from, learn at your own pace."/>
    <meta name="keywords" content="skiltil, learn, home, video, call, personalized, feedback, corrective"/>

    <meta property="og:url" content="http://www.skiltil.com/"/>
    <meta property="og:site_name" content="Skiltil">
    <meta property="og:title" content="Skiltil - Home"/>
    <meta property="og:description"
          content="Learn from home - Wide variety of topics to choose from, learn at your own pace."/>
    <meta property="og:image" itemprop="image" content="http://skiltil.com/static/images/logo.jpeg">
    <meta property="og:type" content="website"/>
    <meta property="fb:app_id" content="1291723094225037"/>

    {% load static %}
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
    <link rel="stylesheet" type="text/css" href={% static "css/search_expand.css" %}/>
    <link rel="stylesheet" type="text/css" href={% static "css/simple-sidebar.css" %}/>
    <link rel="stylesheet" type="text/css" href={% static "css/lin-style.css" %}/>
    <link rel="stylesheet" type="text/css" href={% static "css/carousal-style.css" %}/>
    <!--link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"-->

    <style>
        disableClick {
            pointer-events: none;
        }
    </style>

    <script type="text/javascript">


        $(document).ready(function () {

                $('#loading').hide();

                var getMethod = "GET";
                var query = $('#search_skiltil');

                $(document).on("click", ".menu__item", function (e) {
                    console.log(e.target);
                    //alert("here2");
                    $(".menu__item").css("background-color", "#39afe6");
                    $(this).css("background-color", "white");
                    var topic_id = $(this).closest('li')[0].id;
                    /*if(topic_id == "") {
                     var closestLi = $(this).closest('li');
                     topic_id = closestLi[0].id;
                     }*/
                    console.log(topic_id);
                    var sectionUrl = "/skills/" + topic_id;
                    if (topic_id == "") {
                        /*var closestLi = $(this).closest('li');
                         console.log(closestLi[0].getAttribute("name"));*/
                        sectionUrl = "/skills/topic/" + $(this).closest('li')[0].getAttribute("name");
                    }
                    /*You can add a loader function here;*/
                    console.log(sectionUrl);
                    if ($('#menu-toggle').is(':visible')) {
                        $("#wrapper").toggleClass("toggled");
                        $('#menu-toggle').css("pointer-events", "");
                    }
                    $.ajax({
                        url: sectionUrl,
                        data: {
                            'q': query.val()
                        },
                        type: getMethod,
                        async: true,
                        dataType: 'html',
                        beforeSend: function () {
                            $('#loading').show();
                            $('#page-content-wrapper').hide();
                        },
                        success: function (htmlReturned) {
                            $("#right__panel").html(htmlReturned);
                            $('#page-content-wrapper').show();

                            //util function to check if an element has a scrollbar present
                            jQuery.fn.hasScrollBar = function (direction) {
                                if (direction == 'vertical') {
                                    return this.get(0).scrollHeight > this.innerHeight();
                                }
                                else if (direction == 'horizontal') {
                                    if(this.get(0) != null)
                                        return this.get(0).scrollWidth > this.innerWidth();
                                }
                                return false;

                            }

                            if (!$('.content-wrapper-hor').hasScrollBar('horizontal')) {
                                $('.left-scroll-btn-div').hide();
                                $('.right-scroll-btn-div').hide();
                            }

                        },
                        complete: function () {
                            $('#loading').hide();

                        }
                    });
                });

                function ajax_skill_topics() {
                    $.ajax({
                        url: "/skill_topics/",
                        type: getMethod,
                        async: true,
                        dataType: 'html',
                        data: {
                            'q': query.val()
                        },
                        beforeSend: function () {
                            //console.log(url);
                            $('#loading').show();
                            $('#page-content-wrapper').hide();
                        },
                        success: function (htmlReturned) {
                            $("#left__panel").html(htmlReturned);
                            //alert("This will only be executed once");
                            $(".preload-item-js").click();
                            $('#page-content-wrapper').show();
                        },
                        complete: function () {
                            console.log("loaded first")

                            $('#loading').hide();


                            start_tour();
                        }
                    });
                }


                console.log(query);
                ajax_skill_topics();
                query.bind('input', function () {
                    q = query.val();
                    console.log(q);
                    console.log(q.length);
                    if (q.length > 0) {
                        $("#form-group").addClass("active");
                    } else {
                        $("#form-group").removeClass("active");
                    }
                    ajax_skill_topics();
                });

                //$("#sidebar-wrapper").addEventListener('webkitAnimationEnd',function( event ) { $("#sidebar-wrapper").style.display = 'block'; }, false);

                var tour = new Tour({
                    name: "main-tour",
                    //storage: false,

                    template: "<div class='popover tour'>" +
                    " <div class='arrow'></div>" +
                    " <h3 class='popover-title' style='font-size:130%;font-weight:bold'></h3>" +
                    " <div class='popover-content'></div>" +
                    " <div class='popover-navigation'>" +
                    " <button class='btn btn-default' data-role='prev'>« Prev</button>" +
                    " <span data-role='separator'>|</span>" +
                    " <button class='btn btn-default' data-role='next'>Next »</button>" +
                    " <span data-role='separator'>|</span>" +
                    " <button class='btn btn-default' data-role='end'>End</button>" +
                    " </div>" +
                    " </div>",
                    steps: [
                        {
                            title: "Welcome to Skitil",
                            content: "Welcome on board. This is just a few second tutorial of how you can make the best use of Skiltil.",
                            orphan: true,
                            backdrop: true,
                            backdropContainer: "body"
                        },
                        {
                            element: "#quote-carousel",
                            title: "Details of our teachers",
                            content: "Here you can get to know more about our teachers.",
                            backdrop: true,
                            placement: "bottom auto"
                        },
                        {
                            element: "#menu-toggle",
                            title: "Explore categories",
                            content: "Click on this menu item to see more categories.",
                            backdrop: true,
                            backdropPadding: 10,
                            placement: "bottom auto",
                            onShow: function (tour) {
                                if ($('#menu-toggle').is(':visible')) {
                                    $("#wrapper").toggleClass("toggled");
                                    $('#menu-toggle').css("pointer-events", "none");
                                }
                            }
                        },
                        {
                            element: "#sidebar-brand",
                            title: "Search directly",
                            content: "Type in to search any skill.",
                            backdrop: true,
                            backdropContainer: "#sidebar-nav",
                            placement: "bottom auto",
                            onShow: function (tour) {
                                $("#form-group").addClass("hover");
                                $('#search_skiltil').keypress(function (event) {
                                    event.preventDefault();
                                    return false;
                                });
                            },
                            onHidden: function (tour) {
                                $("#form-group").removeClass("hover");
                                $('#search_skiltil').keypress(function (event) {
                                    //event.preventDefault();
                                    return true;
                                });
                            }
                        },
                        {
                            element: "#sidebar-nav",
                            title: "Select a category to explore more skills",
                            content: "Click a category to explore more options.",
                            backdrop: true,
                            backdropContainer: "#sidebar-wrapper",
                            onHidden: function (tour) {
                                if ($('#menu-toggle').is(':visible')) {
                                    $("#wrapper").toggleClass("toggled");
                                    $('#menu-toggle').css("pointer-events", "");
                                }
                            }
                        },
                        {
                            element: "#skill-list",
                            title: "Select a skill",
                            content: "Click on any skill of your choice. Remove the popup blocker for skiltil, if enabled.",
                            backdrop: true,
                            backdropContainer: "body",
                            placement: "top auto"
                        },
                        {
                            element: "#navigation_down",
                            title: "Click here to know more about us.",
                            content: "Check out how we work, our pricing, blogs and contact details.",
                            backdrop: true,
                            backdropContainer: "#navigation_bar",
                            placement: "bottom auto",
                            onShow: function (tour) {
                                $("#navigation_down").click();
                            },
                            onHidden: function (tour) {
                                $("#navigation_down").click();
                            }
                        }/*,
                         {
                         element: "#nav_pricing",
                         title: "Extremely affordable classes",
                         content: "Click here to know about our pricing.",
                         backdrop: true,
                         backdropContainer: "#navigation_bar",
                         placement: "bottom auto",
                         onShow: function (tour) {
                         $("#nav_pricing").css("pointer-events", "none");
                         },
                         onHidden: function (tour) {
                         $("#navigation_down").click();
                         $("#nav_pricing").css("pointer-events", "");
                         }
                         }*/
                    ]
                });


                function start_tour() {
                    // Initialize the tour
                    tour.init();

                    // Start the tour
                    tour.start();
                }


            }
        );


    </script>

{% endblock %}
{% block body %}

    <div class="container">
        <div id="loading"
             style="position: absolute; z-index:3; width: 100%; height: 100%; background: url({% static "images/loading_big.gif" %}) no-repeat center center;">

        </div>
        <div id="wrapper">
            <!-- Sidebar -->
            <div id="sidebar-wrapper">
                <ul class="sidebar-nav" id="sidebar-nav">
                    <li class="sidebar-brand" id="sidebar-brand">
                        <div class="row" style="margin:20px;">
                            <form action="" class="search-form">
                                <div class="form-group has-feedback" id="form-group">
                                    <label for="search" class="sr-only">Search</label>
                                    <input type="text" class="form-control" name="search" id="search_skiltil"
                                           placeholder="Search Skiltil">
                                    <span class="glyphicon glyphicon-search form-control-feedback"
                                          style="margin-right:10px;"></span>
                                </div>
                            </form>
                        </div>
                    </li>
                    <div id="left__panel">

                    </div>
                    <li class="sidebar-brand" style="height: 100px;">
                    </li>
                </ul>
            </div>
            <!-- /#sidebar-wrapper -->

            <!-- Page Content -->
            <div class="row">
                <div id="page-content-wrapper">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-12" style="height:35px;">
                                <div class="hidden-sm hidden-md hidden-lg hidden-xl">
                                    <span class="glyphicon glyphicon-menu-hamburger" data-toggle="offcanvas"
                                          id="menu-toggle" aria-hidden="true"
                                          style="cursor: pointer; color:#5337e0;"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="container-fluid" id="right__panel">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        function popUpWin(url, width, height) {

            var leftPosition, topPosition;
            leftPosition = (window.screen.width / 2) - ((width / 2) + 10);
            topPosition = (window.screen.height / 2) - ((height / 2) + 50);

            window.open(url, "Window2",
                "status=no,height=" + height + ",width=" + width + ",resizable=yes,left="
                + leftPosition + ",top=" + topPosition + ",screenX=" + leftPosition + ",screenY="
                + topPosition + ",toolbar=no,menubar=no,scrollbars=yes,location=no,directories=no");
        }
    </script>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>


    <script>
        $(document).on('ready', function () {

        });
    </script>

    <script>
    </script>


    <script src={% static "js/carousal-script.js" %}></script>
    <script src={% static "js/simpleDivXScroll.js" %}></script>



{% endblock %}
