{% extends "proj/../base.html" %}
{% block title %} Learn from Home {% endblock %}
{% block stylesheet %}
    {% load static %}
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
    <!--link rel="stylesheet" type="text/css" href={% static "css/component.css" %} />
		<link rel="stylesheet" type="text/css" href={% static "css/corousal-shape.css" %} /-->
    <link rel="stylesheet" type="text/css" href={% static "css/search_expand.css" %}/>
    <link rel="stylesheet" type="text/css" href={% static "css/simple-sidebar.css" %}/>
    <link rel="stylesheet" type="text/css" href={% static "css/lin-style.css" %}/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



    <script type="text/javascript">


        $(document).ready(function () {
            $('#loading').hide();

            var getMethod = "GET";
            var query = $('#search_skiltil');

            $(document).on("click", ".menu__item, .preload-item-js", function (e) {
                //alert("here1");
                //alert("here2");
                $(".menu__item").css("background-color", "black");
                $(this).css("background-color", "#f7f9e5");
                var topic_id = e.target.id;
                console.log(topic_id);
                var sectionUrl = "/skills/" + topic_id;
                if (topic_id == "")
                    sectionUrl = "/skills/topic/" + e.target.name;
                /*You can add a loader function here;*/
                console.log(sectionUrl);
                $.ajax({
                    url: sectionUrl,
                    data: {
                        'q': query.val()
                    },
                    type: getMethod,
                    async: true,
                    dataType: 'html',
                    beforeSend: function () {
                        $('#loading').show();
                        $('#page-content-wrapper').hide();
                    },
                    success: function (htmlReturned) {
                        $("#right__panel").html(htmlReturned);
                        //alert("This will only be executed once");
                        /* Remove Loader */
                    },
                    complete: function () {
                        $('#loading').hide();
                        $('#page-content-wrapper').show();
                    }
                });
            });

            function ajax_skill_topics() {
                $.ajax({
                    url: "/skill_topics/",
                    type: getMethod,
                    async: true,
                    dataType: 'html',
                    data: {
                        'q': query.val()
                    },
                    beforeSend: function () {
                        //console.log(url);
                        $('#loading').show();
                        $('#page-content-wrapper').hide();
                    },
                    success: function (htmlReturned) {
                        $("#left__panel").html(htmlReturned);
                        //alert("This will only be executed once");
                    },
                    complete: function () {
                        console.log("loaded first")
                        $(".preload-item-js").click();
                        $('#loading').hide();
                        $('#page-content-wrapper').show();
                    }
                });
            }


            console.log(query);
            ajax_skill_topics();
            query.bind('input', function () {
                q = query.val();
                console.log(q);
                console.log(q.length);
                if (q.length > 0) {
                    $("#form-group").addClass("active");
                } else {
                    $("#form-group").removeClass("active");
                }
                ajax_skill_topics();
            });


        });



    </script>

{% endblock %}
{% block body %}





    <div class="container">
        <div id="loading"
             style="position: absolute; z-index:3; width: 100%; height: 100%; background: url({% static "images/loading_big.gif" %}) no-repeat center center;">

        </div>
        <div id="wrapper">
            <!-- Sidebar -->
            <div id="sidebar-wrapper">
                <ul class="sidebar-nav">
                    <li class="sidebar-brand">
                        <div class="row" style="margin:20px;">
                            <form action="" class="search-form">
                                <div class="form-group has-feedback" id="form-group">
                                    <label for="search" class="sr-only">Search</label>
                                    <input type="text" class="form-control" name="search" id="search_skiltil"
                                           placeholder="Search Skiltil">
                                    <span class="glyphicon glyphicon-search form-control-feedback"
                                          style="margin-right:10px;"></span>
                                </div>
                            </form>
                        </div>
                    </li>
                    <div id="left__panel">

                    </div>
                </ul>
            </div>
            <!-- /#sidebar-wrapper -->

            <!-- Page Content -->
            <div class="row">
                <div id="page-content-wrapper">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-12" style="height:35px;">
                                <div class="hidden-sm hidden-md hidden-lg hidden-xl">
                                    <span class="glyphicon glyphicon-menu-hamburger" data-toggle="offcanvas"
                                          id="menu-toggle" aria-hidden="true" style="cursor: pointer"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="container-fluid" id="right__panel">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        function popUpWin(url, width, height) {

            var leftPosition, topPosition;
            leftPosition = (window.screen.width / 2) - ((width / 2) + 10);
            topPosition = (window.screen.height / 2) - ((height / 2) + 50);

            window.open(url, "Window2",
                "status=no,height=" + height + ",width=" + width + ",resizable=yes,left="
                + leftPosition + ",top=" + topPosition + ",screenX=" + leftPosition + ",screenY="
                + topPosition + ",toolbar=no,menubar=no,scrollbars=yes,location=no,directories=no");
        }
    </script>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>

    <script>
        $(document).ready(function () {
            var trigger = $('#menu-toggle'),

                isClosed = false;

            trigger.click(function () {
                hamburger_cross();
            });

            function hamburger_cross() {

                if (isClosed == true) {

                    trigger.removeClass('is-open');
                    trigger.addClass('is-closed');
                    isClosed = false;
                } else {

                    trigger.removeClass('is-closed');
                    trigger.addClass('is-open');
                    isClosed = true;
                }
            }
        });
    </script>

{% endblock %}
