<html>


<body style="width:90%;margin-left: auto;margin-right: auto;">
<div style="text-align:center;">
    <a href="http://www.skiltil.com" style="font-size:300%;color: blue;"> <img src="http://www.skiltil.com/static/images/logo.png" height="40"
                                                 width="40"/> Welcome to Skiltil </a>
</div>
<br>
Thanks for registering with Skiltil. Your account has been activated.
<br>
<div style="margin-top: 20px;">
    <p>Now explore the endless learning experience only at <a href="http://www.skiltil.com">www.skiltil.com</a>
    </p>
</div>

<br>
Feel free to reach out to us.
<br>
Skiltil Team.
<br>
<a style="display: none;" href="{unsubscribe}"></a>
</body>
</html>